<div class="mt-3 border p-3">
  <h5>Pagamento:</h5>
  <p class="mb-0 card">
    <% order.usedPaymentMethods.forEach((paymentMethod) => { %>
    <% if(paymentMethod.card !== null) { %>
    <%= utils.card.formatCardNumber(paymentMethod.card.number) %> - <%= utils.card.formatCardFlag(paymentMethod.card.flag) %> - <%= utils.price.format(paymentMethod.value) %><br />
    <% } %>
    <% }) %>
  </p>
</div>