.book-shelf-item {
  width: 100%;
}
.card-image {
  min-width: 168px;
  max-width: 168px;
  display: flex;
  justify-content: center;
}

.book-description {
  display: -webkit-box;
  -webkit-line-clamp: 17;
  line-clamp: 17;
  overflow: hidden;
  height: 412px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

@media (min-width: 992px) {
  .book-shelf-item {
    max-width: 230px;
    width: 25vw;
  }
  .card-image {
    min-height: 355px;
    max-width: unset;
  }
}
