<!doctype html>
<html lang="en">

<head>
  <title>Trocar Senha</title>
  <!--Meta Tags-->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <!--Header-->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">Bookmak</a>
      </div>
    </nav>
  </header>
  <!--Conteudo-->
  <main class="container mb-5">
    <h1 class="mt-3 text-center">Trocar Senha</h1>
    <% if(error) { %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
    <% } %>
    <form method="POST" class="row">
      <p class="col-12">Preencha os dados abaixo para trocar a senha:</p>
      <div class="mb-3 col-12">
        <label for="password" class="form-label">Senha Atual</label>
        <input type="password" class="form-control" id="password" name="password" required />
      </div>
      <div class="mb-3 col-12">
        <label for="newPassword" class="form-label">Nova Senha</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required />
      </div>
      <div class="mb-3 col-12">
        <label for="confirmPassword" class="form-label">Confirme a Nova Senha</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
      </div>
      <div class="mb-3 col-12">
        <button type="submit" class="btn btn-primary">Trocar Senha</button>
      </div>
    </form>
  </main>
</body>

</html>